{% extends 'base.html.twig' %}

{% block title %}Конвертер валют{% endblock %}

{% block body %}
    <h1>Конвертер валют</h1>
    {{ form(rate_form) }}
    <p>Результат: {{ result }}</p>
{% endblock %}
